node_modules/
.env
.DS_Store
.vscode/
npm-debug.log
dist/
build/
coverage/
.idea/
*.log
*.tsbuildinfo
.cache/
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
out/
.svelte-kit/
*.sqlite
*.sqlite3
.pnp/
.pnp.js
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
.yarnclean
lerna-debug.log*